.formHeading {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}

label {
    display: inline-block;
    min-width: 80px;
    text-align: right;
}

.formStyle {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: left;
    gap: 5px;
}

input[type=submit] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 0;
    border-left: 2px solid #767676;
    border-top: 2px solid #767676;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #add8e6;
    padding: 5px;
    margin: 0 auto;
    display: block;
}

input:invalid {
    color: red;
}